<% pages = all_pages %>
<% @pages.each do |page| %>
	<li><%= link_to page.name, page %></li>
<% end %>
<li><%= link_to '商品', products_path %></li>
<li><%= link_to 'user_tracking', trackings_path %></li>